<div class="card-header text-center">
  {{ pageTitle }}
</div>

<div class="card-body">
  <h3 style="color: green; font-style: normal; font-size: large">
    Enter Personal Detail:
  </h3>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="txtName"> User Name </label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="txtName"
          type="text"
          placeholder="Enter Name"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              (checkoutForm.get('name').touched ||
                checkoutForm.get('name').dirty) &&
              !checkoutForm.get('name').valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="checkoutForm.get('name').errors?.required">
            Please enter your name.
          </span>
          <span *ngIf="checkoutForm.get('name').errors?.minlength">
            Name must be longer than 5 characters.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="textEmail"> Address </label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="textEmail"
          type="text"
          placeholder="Enter Address"
          formControlName="address"
          [ngClass]="{
            'is-invalid':
              (checkoutForm.controls.address.touched ||
                checkoutForm.controls.address.dirty) &&
              !checkoutForm.controls.address.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="checkoutForm.controls.address.errors?.required">
            Please enter your delivery address.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="textEmail"> Phone No </label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="phoneNo"
          type="text"
          placeholder="Enter Phone No"
          formControlName="phoneNo"
          [ngClass]="{
            'is-invalid':
              (checkoutForm.controls.phoneNo.touched ||
                checkoutForm.controls.phoneNo.dirty) &&
              !checkoutForm.controls.phoneNo.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="checkoutForm.controls.phoneNo.errors?.required">
            Please enter your phone number.
          </span>
          <span *ngIf="checkoutForm.controls.phoneNo.errors?.pattern">
            Please enter correct phone number.
          </span>
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="textEmail"> Email </label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="textEmail"
          type="text"
          placeholder="Enter Email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (checkoutForm.controls.email.touched ||
                checkoutForm.controls.email.dirty) &&
              !checkoutForm.controls.email.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="checkoutForm.controls.email.errors?.required">
            Please enter your email address.
          </span>
          <span *ngIf="checkoutForm.controls.email.errors?.email">
            Please enter your email address in correct format.
          </span>
        </span>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!checkoutForm.valid"
      >
        Place Order
      </button>
    </div>
  </form>
</div>
