<div class="p-5">
  <mat-card class="ecom-card m-auto">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="text-center" *ngIf="isInvalidLogin">
  <h4 style="color: red">Wrong credentials</h4>
  <p>
    DUMMY USER: <br />
    User: admin <br />
    Password: admin
  </p>
</div>
