<div class="card-header text-center">
  {{ pageTitle }}
</div>

<!-- <div *ngIf="hasProduct">
<div class="cart-item" *ngFor="let item of items">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text brand">{{item.brand}}</p>
    <p class="card-text">Price: {{item.price | currency: 'INR'}}</p>
    <div class="text-center">
      <button class="btn btn-primary" type="submit" (click)="removeProduct(item)">Remove</button>
    </div>
  </div>
</div>
</div> -->

<div class="products__container">
  <div *ngFor="let item of items">
    <mat-card class="ecom-card m-auto">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="image-cls" [src]="item.image" alt="" />
    </mat-card>
  </div>
</div>

<div class="text-center" *ngIf="hasProduct">
  <button class="btn btn-primary" [routerLink]="['/checkout']" type="submit">
    Checkout
  </button>
  <h3>Total Price : {{ totalPrice }}</h3>
</div>

<div class="text-center" *ngIf="!hasProduct">
  <div class="container m-auto">
    <h3 style="color: red">OOPS! YOUR CART IS EMPTY</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-primary" [routerLink]="['/products']" type="submit">
        Add Products
      </button>
    </div>
  </div>
  </div>

  <!-- <span>{{ items }}</span>
<div *ngIf="items; else elseTemplate">
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
  <div>
    <button type="button" (click)="cleaCart()" class="register-register-button">
      Clear Cart
    </button>
  </div>
</div>
<ng-template #elseTemplate>
<span>No Product in Cart</span>
</ng-template>
</div> -->
