<div class="card-header text-center">
  {{ pageTitle }}
</div>

<div class="products__container">
  <div *ngFor="let item of items">
    <mat-card class="ecom-card m-auto">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="image-cls" [src]="item.image" alt="" />
    </mat-card>
  </div>
</div>

<div class="text-center" *ngIf="hasProduct">
  <button class="btn btn-primary" [routerLink]="['/checkout']" type="submit">
    Checkout
  </button>
  <h3>Total Price : {{ totalPrice }}</h3>
</div>

<div class="text-center" *ngIf="!hasProduct">
  <div class="container m-auto">
    <h3 style="color: red">OOPS! YOUR CART IS EMPTY</h3>
  </div>
  <div class="card">
    <div class="card-body">
      <button
        class="btn btn-primary"
        [routerLink]="['/products']"
        type="submit"
      >
        Add Products
      </button>
    </div>
  </div>
</div>
