<ecom-nav-bar></ecom-nav-bar>
<div class="card-header text-center">
  {{ pageTitle }}
</div>
<!-- <div class="card-group">
  <div *ngFor="let product of productsList">
    <div *ngIf="product.gender == 'W' ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text brand">{{ product.brand }}</p>
        <p class="card-text brand">{{ product.gender }}</p>
        <button class="btn btn-secondary btn-view-product" (click)="viewProduct(product.id)">View Product</button>
        </div>
    </div>
  </div>
  </div>
</div> -->

<div class="products__container">
  <ng-container *ngFor="let product of productsList">
    <div *ngIf="product.gender == 'W'">
      <section class="product__item">
        <a [routerLink]="['/product/' + product.id]">
          <ng-container *ngIf="product.image">
            <figure class="product__figure">
              <img
                *ngIf="product.image"
                width="640px"
                class="product__image"
                [src]="product.image"
                alt=""
              />
            </figure>
          </ng-container>

          <div class="product__content">
            <strong class="product__title">{{ product.name }}</strong>

            <em class="product__price">{{
              product.price | currency: "EUR"
            }}</em>
          </div>
        </a>
        <button
          class="btn btn-secondary btn-view-product"
          (click)="viewProduct(product.id)"
        >
          View Product
        </button>
      </section>
    </div>
  </ng-container>
</div>
